# build
dist/
.output/

# dependencies
node_modules/

# astro generated types
.astro/

# environment
.env
.env.production

# editor
.vscode/*
!.vscode/extensions.json
.idea/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store

#Claude code
.claude